body {
  text-align: center;
  background-color: #2b2b2b;
  color: #fff;
  font-family: "Impact", "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  text-shadow: 1px 2px 3px black;
  margin: 0;
  padding: 0;
}

#taskList {
  font-size: 26px;
  list-style: none;
}

input {
  outline: none;
  background-color: #fff;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px;
  padding: 12px;
  width: 200px;
  font-size: 26px;
  border: 1px solid black;
  box-shadow: 1px 2px 4px rgba(95, 93, 93, 0.3);
}

button {
  background-color: black;
  color: #868686;
  border-radius: 10px;
  border: none;
  font-size: 30px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  color: #ebe8e8;
}

button:active {
  color: red;
}
